@charset "UTF-8";

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #fff;
	padding-top: 46px;
}

@-moz-keyframes loading-pulse {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 0;
		-moz-transform: scale(1.5, 1.5);
	}
	100% {
		opacity: 0;
		-moz-transform: scale(1.5, 1.5);
	}
}

@-webkit-keyframes loading-pulse {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 0;
		-webkit-transform: scale(1.5, 1.5);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1.5, 1.5);
	}
}

@-o-keyframes loading-pulse {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 0;
		-o-transform: scale(1.5, 1.5);
	}
	100% {
		opacity: 0;
		-o-transform: scale(1.5, 1.5);
	}
}

@keyframes loading-pulse {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	80% {
		opacity: 0;
		transform: scale(1.5, 1.5);
	}
	100% {
		opacity: 0;
		transform: scale(1.5, 1.5);
	}
}

@-webkit-keyframes credits-show {
	from {opacity: 0;}
	to   {opacity: 1;}
}

@-moz-keyframes credits-show {
	from {opacity: 0;}
	to   {opacity: 1;}
}

@-ms-keyframes credits-show {
	from {opacity: 0;}
	to   {opacity: 1;}
}

@-o-keyframes credits-show {
	from {opacity: 0;}
	to   {opacity: 1;}
}

@keyframes credits-show {
	from {opacity: 0;}
	to   {opacity: 1;}
}

.loading-container {
	position: fixed;
	   top: 0;
	 right: 0;
	bottom: 0;
	  left: 0;
	
	background: #fff;
	z-index: 1000;
}

.loading-layer {
	position: absolute;
	   top: 0;
	 right: 0;
	bottom: 0;
	  left: 0;
	  
	display: -webkit-flex;
	display:         flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.loading-background {
	width: 140px;
	height: 140px;
	
	background: #eee;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	    -ms-border-radius: 50%;
	     -o-border-radius: 50%;
	        border-radius: 50%;
	        
	webkit-animation: loading-pulse 2.2s infinite;
	   moz-animation: loading-pulse 2.2s infinite;
	    ms-animation: loading-pulse 2.2s infinite;
	     o-animation: loading-pulse 2.2s infinite;
	       animation: loading-pulse 2.2s infinite;
}

.loading-text {
	font-size: 1.8em;
	color: #333;
}

.loading-credits {
	position: relative;
	top: 25px;
	
	color: #aaa;
	webkit-animation: credits-show 1s linear 3s both;
	   moz-animation: credits-show 1s linear 3s both;
	 vvvms-animation: credits-show 1s linear 3s both;
	     o-animation: credits-show 1s linear 3s both;
	       animation: credits-show 1s linear 3s both;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	
	display: -webkit-flex;
	display:         flex;
	justify-content: space-between;
	width: 100%;
	height: 46px;
	
	line-height: 46px;
	color: #ddd;
	white-space: nowrap;
	
	background: -webkit-linear-gradient(bottom, #2a2a2a, #3a3a3a);
	background:    -moz-linear-gradient(bottom, #2a2a2a, #3a3a3a);
	background:      -o-linear-gradient(bottom, #2a2a2a, #3a3a3a);
	background:     -ms-linear-gradient(bottom, #2a2a2a, #3a3a3a);
	background:         linear-gradient(to top, #2a2a2a, #3a3a3a);
	-webkit-box-shadow: 3px 1px 6px rgba(0,0,0,0.2);
	        box-shadow: 3px 1px 6px rgba(0,0,0,0.2);
	border-bottom: 1px solid #000;
	
	-webkit-transform: translate3d(0, 0, 0);
}

.align-container {
	width: auto;
	flex-grow: 1;
	flex-basis: 0;
}

.align-left-container {
	flex-shrink: 0;
}

.align-center-container {
	flex-shrink: 0;
	
	text-align: center;
}

.title-container {
	margin-left : 15px;
	margin-right: 15px;
	
	font-size: 1.6em;
	text-align: left;
}



.logo {
	display: inline-block;
	
	font-weight: bold;
	font-family: 'Comfortaa', monospace;
}

.title {
	display: inline-block;
	
	font-family: 'Text Me One', sans-serif;
}

.btn-container .icon {
	display:inline-block;
	width: 40px;
	height: 100%;
	
	text-align: center;
	transition: color .1s linear;
}

.icon:hover {
	color: #fff;
}

#calculator {
	width: 100%;
	height: 60%;
}
