@charset "UTF-8";

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #fff;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	
	display: -webkit-flex;
	display:         flex;
	justify-content: space-between;
	width: 100%;
	height: 46px;
	
	line-height: 46px;
	color: #ddd;
	
	background: -webkit-linear-gradient(bottom, #2a2a2a, #3a3a3a);
	background:    -moz-linear-gradient(bottom, #2a2a2a, #3a3a3a);
	background:      -o-linear-gradient(bottom, #2a2a2a, #3a3a3a);
	background:     -ms-linear-gradient(bottom, #2a2a2a, #3a3a3a);
	background:         linear-gradient(to top, #2a2a2a, #3a3a3a);
	-webkit-box-shadow: 3px 1px 6px rgba(0,0,0,0.2);
	        box-shadow: 3px 1px 6px rgba(0,0,0,0.2);
	border-bottom: 1px solid #000;
	
	-webkit-transform: translate3d(0, 0, 0);
}

.title-container {
	margin-left: 15px;
	
	font-size: 1.6em;
	text-align: left;
}

.logo {
	font-family: 'VisbyRoundCF-Bo9245b7a761834b';
}

.title {
	font-family: 'BauhausITCbyBT-93f3e6b901834b'; 
}

.btn-container .icon {
	display:inline-block;
	width: 40px;
	height: 100%;
	
	transition: color .2s linear;
}

.icon:hover {
	color: #fff;
}

#calculator {
	width: 100%;
	height: 60%;
}
