@charset "UTF-8";

#calculator {
	width: 100%;
	height: calc(100% - 46px - 50px);
}

.code-container {
	width: auto;
	height: 90%;
	padding: 10px;
	margin: 20px;
	
	font-family: "Lucida Console", Monaco, monospace;
	
	background: #efe;
	border-radius: 5px;
}

.code-header {
	display: -webkit-flex;
	display:         flex;
	justify-content: space-between;
	
	width: 100%;
	height: 40px;
	
	color: #007020;
	line-height: 40px;
}

.code-title{
	margin-left: 5px; 
	
	font-weight: bold;
	font-size: 1.2em;
}

.copy-btn{
	display: inline-block;
	width: 50px;
	height: 100%;
	
	text-align: center;
}

.print-box {
	width: auto;
	height: calc(100% - 50px);
	border: 1px solid #484;
	
	border-radius: 3px;
}

.print-box-textarea{
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 5px;
	
	line-height: 1.4;
	font-family: "Lucida Console", Monaco, monospace;
	color: #005010;
	
	border-radius: 2px;
	resize: none;
}
