@charset "UTF-8";

#calculator {
	width: 100%;
	height: calc(100% - 46px - 50px);
	margin-top: 45px;
}
/*
.dividing-bar {
	display: -webkit-flex;
	display:         flex;
	justify-content: center;
}

.dividing-bar .icon {
	display: inline-block;
	
	font-size: 100%;
}
*/
.code-container {
	width: auto;
	height: 90%;
	padding: 10px;
	margin: 20px;
	
	background: #efe;
	border-radius: 5px;
}

.code-header {
	display: -webkit-flex;
	display:         flex;
	justify-content: space-between;
	
	width: 100%;
	height: 40px;
	
	line-height: 40px;
	color: #484;
}

.code-title{
	font-family: "Lucida Console", Monaco, monospace;
}

.copy-btn{
	display: inline-block;
	width: 50px;
	height: 100%;
	
	font-size: 1.5em;
	text-align: center;
}

.print-box {
	width: auto;
	height: calc(100% - 50px);
	border: 1px solid #484;
}

.print-box-textarea{
	display: block;
	width: 100%;
	height: 100%;
}
